# Main Frameworks
python-telegram-bot==13.15
telethon==1.36.0
pyrogram==2.0.106
tgcrypto

# Telegraph & HTML (The problematic ones)
html-telegraph-poster
lxml
lxml_html_clean

# Media & System
ffmpeg-python
hachoir
speedtest-cli
Pillow
requests
aiohttp
python-dotenv
psutil
