# Core Bot Libraries
python-telegram-bot==13.15
telethon==1.36.0
hachoir==3.3.0

# API and Requests
requests==2.31.0
aiohttp==3.9.3

# Media and Progress
ffmpeg-python==0.2.0
Pyrogram==2.0.106
tgcrypto==1.2.5

# Utilities
python-dotenv==1.0.1
psutil==5.9.8
